body {
  background-color: #c9b1fc;
  color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.main-header{
  background-color: #0d0d0d;
  color: #ff7518; 
  padding: 20px 40px;
  display: flex;                  
  justify-content: space-between; 
  align-items: center;      
}

.main-header h1{
   text-shadow: 0 0 8px #ff7518;
}
.imagen-principal {
  text-align: center;
  margin-bottom: 30px;
}

.imagen-principal img {
  width: 100%;
  height: 500px;
  filter: brightness(80%);
}

nav a {
  color: #ffa54f;
  margin: 0 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

nav a:hover {
  text-shadow: 0 0 5px #ff7518;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #0d0d0d;
  padding: 20px;
}

.lista-salones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.card {
  background-color: #0d0d0d;
  border: 2px solid #ff7518;
  border-radius: 10px;
  width: 280px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #ff7518;
}

.imagen-salon {
  width: 100%;
  border-radius: 8px;
  height: 180px;
  object-fit: cover;
}

button {
  background-color: #ff7518;
  color: #1b1b1b;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

button:hover {
  background-color: #ffa54f;
}

footer {
  background-color: #0d0d0d;
  color: #ffa54f;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
